.aboutme-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;

    @media screen and (max-width:1200px) {
        height: auto !important;
    }

    h1.tit {
        align-self: flex-start;
        /* 수정된 부분: flex-end -> flex-start */
        transform: translateX(0);
        /* 수정된 부분: 11vw -> 0 */
        position: relative;

        /* * 이제 기본 스타일이 왼쪽 정렬이므로 
         * 이 미디어 쿼리는 특별한 반응형 처리가 필요 없다면 삭제해도 괜찮습니다.
         */
        @media screen and (max-width:1599px) {
            /* 이전에 있던 align-self와 transform 속성을 밖으로 옮겼습니다. */
        }

        .star-spin {
            position: absolute;
            left: -10rem;
            top: -10rem;
        }
    }

    .about-container {
        display: flex;
        gap: 2rem;
        width: 100%;
        margin-top: 5.3rem;

        @media screen and (max-width:1440px) {
            flex-wrap: wrap;
        }

        .in-wrap {
            // width: 25%;
            flex: 1;

            @media screen and (max-width:1440px) {
                min-width: 30rem;
            }

            .lst {
                >li {
                    line-height: 2;
                    padding: .5rem 1rem 0;
                    font-size: 1.4rem;

                    >strong {
                        display: inline-block;
                        padding: 0 3rem 0 0;
                    }

                    &:nth-child(even) {
                        background-color: var(--gray100);
                    }

                    &:hover {
                        background-color: var(--primary);
                        color: var(--bg);
                    }
                }
            }
        }
    }
}